<footer class="footer">
  <div class="container footer-content">
    <p>&copy; {{ currentYear }} | Developed and designed by Suraj Khodade.</p>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/surajkhodade" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/SurajK221b" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:suraj.khodade7@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.xing.com/profile/Suraj_Khodade/web_profiles" target="_blank" aria-label="Xing">
        <i class="fab fa-xing"></i>
      </a>
    </div>
  </div>
</footer>
