<div class="skills-container">
    <div class="skills-content">
        <div class="content-section">
            <h2 class="about-title">Professional Experience</h2>
            <p class="skills-description">
                Discover my journey in AI/ML engineering, the cutting-edge technologies I master, my professional
                achievements, educational background, certifications, and the diverse skills that make me a well-rounded
                AI professional.
            </p>
            <div class="accordion-wrapper">
                <app-accordion></app-accordion>
            </div>
        </div>
    </div>
</div>