<div class="align-items-center default-container">
    <div class="col-lg-6">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Professional Summary</h2>
                <p class="default-p">
                    Explore my professional highlights, the technologies I specialize in, my work experience, education and certifications, the languages I speak, and my hobbies & interests beyond code.
                </p>
                <app-accordion></app-accordion>
            </div>
        </div>
    </div>
</div>