<div class="default-container">
  <div class="content">
    <div class="content-left">
<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
  <mat-expansion-panel-header>
    <mat-panel-title>Professional Highlights</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="accordion-text">
    <ul>
      <li><span class="default-highlight">6+ years</span> of hands-on experience in <span class="default-highlight">enterprise-grade web applications</span> using <span class="default-highlight">.NET Core</span>, <span class="default-highlight">Angular</span>, and <span class="default-highlight">Microsoft Azure</span>.</li>
      <li>Successfully delivered <span class="default-highlight">15+ full lifecycle projects</span>, including <span class="default-highlight">cloud-native SaaS platforms</span> for logistics and fintech domains.</li>
      <li>Key contributor in <span class="default-highlight">microservices architecture migration</span> and <span class="default-highlight">monolith decomposition</span> strategies for global clients.</li>
      <li>Developed and maintained <span class="default-highlight">CI/CD pipelines</span> using <span class="default-highlight">GitHub Actions</span> and <span class="default-highlight">Azure DevOps</span> for seamless and secure deployments.</li>
      <li>Recognized for <span class="default-highlight">technical leadership</span>, mentoring junior developers, and driving adoption of <span class="default-highlight">clean architecture</span> and <span class="default-highlight">SOLID principles</span>.</li>
      <li>Expertise in <span class="default-highlight">RESTful API design</span>, <span class="default-highlight">EF Core performance tuning</span>, and <span class="default-highlight">repository/service patterns</span> for scalable applications.</li>
      <li>Collaborated with <span class="default-highlight">cross-functional agile teams</span> across India and Europe, ensuring delivery of <span class="default-highlight">high-quality software solutions</span> on time.</li>
    </ul>
  </div>
</mat-expansion-panel>
<mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Technologies & Tools</mat-panel-title>
      </mat-expansion-panel-header>
  
      <div class="tech-board">
        <div class="tech-cell"><i class="devicon-dot-net-plain-wordmark colored" title=".NET Core"></i></div>
  <div class="tech-cell"><i class="devicon-dotnetcore-plain colored" title=".NET Core"></i></div>
  <div class="tech-cell"><i class="devicon-csharp-plain colored" title="C#"></i></div>
  <div class="tech-cell"><i class="devicon-azuresqldatabase-plain colored" title="SQL Server"></i></div>

  <div class="tech-cell"><i class="devicon-angular-plain colored" title="Angular"></i></div>
  <div class="tech-cell"><i class="devicon-react-original-wordmark  colored" title="React"></i></div>
  <div class="tech-cell"><i class="devicon-javascript-plain colored" title="JavaScript"></i></div>
  <div class="tech-cell"><i class="devicon-typescript-plain colored" title="TypeScript"></i></div>
  <div class="tech-cell"><i class="devicon-jquery-plain-wordmark colored" title="jQuery"></i></div>
  <div class="tech-cell"><i class="devicon-html5-plain-wordmark  colored" title="HTML5"></i></div>
  <div class="tech-cell"><i class="devicon-css3-plain-wordmark  colored" title="CSS3"></i></div>
  <div class="tech-cell"><i class="devicon-bootstrap-plain-wordmark colored" title="Bootstrap"></i></div>

  <div class="tech-cell"><i class="devicon-azure-plain colored" title="Microsoft Azure"></i></div>
  <div class="tech-cell"><i class="devicon-azuredevops-plain colored" title="Microsoft DevOps"></i></div>
  <div class="tech-cell"><i class="devicon-rabbitmq-plain-wordmark colored" title="RabbitMq"></i></div>
  <div class="tech-cell"><i class="devicon-docker-plain-wordmark  colored" title="Docker"></i></div>
  <div class="tech-cell"><i class="devicon-kubernetes-plain colored" title="Kubernetes"></i></div>
  <div class="tech-cell"><i class="devicon-visualstudio-plain    colored" title="Visual Studio"></i></div>
  <div class="tech-cell"><i class="devicon-vscode-plain-wordmark colored"  title="VS Code"></i></div>
  <div class="tech-cell"><i class="devicon-git-plain-wordmark  colored" title="Git"></i></div>
 
 <div class="tech-cell"><i class="devicon-github-original-wordmark" title="GitHub"></i></div>
 <div class="tech-cell"><i class="devicon-postman-plain colored" title="Postman"></i></div>
  <div class="tech-cell"><i class="devicon-jira-plain-wordmark colored" title="Jira"></i></div>
  <div class="tech-cell"><i class="devicon-swagger-plain colored" title="Swagger"></i></div>
</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="customClass accordion-title">
      
      <mat-expansion-panel-header>
        <mat-panel-title>Work Experience</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><span class="default-highlight">Globant India</span></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="accordion-text">
          <p class="default-exp-text">Senior Software Engineer (May 2024 – Present)</p>
          <ul>
            <li>Designing and developing scalable cloud-native enterprise solutions using .NET Core and Angular.</li>
            <li>Building microservices integrated with Azure services like App Services, Functions, and Service Bus.</li>
            <li>Collaborating with cross-functional, EU-based teams to deliver high-quality features in Agile sprints.</li>
            <li>Providing L3 production support and improving system reliability and response times.</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><span class="default-highlight">CitiusTech Healthcare PVT. LTD.</span></mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="accordion-text">
          <p class="default-exp-text">Technical Lead (Nov 2021 – Apr 2024)</p>
          <ul>
            <li>Led the design and implementation of CI/CD pipelines using Azure DevOps, reducing deployment time by 30%.</li>
            <li>Developed ETL solutions and real-time middleware APIs for healthcare platforms (PGS and QMS).</li>
            <li>Mentored junior developers in clean code practices and cloud development standards.</li>
            <li>Built data integration systems using .NET Core and Azure Functions for secure and automated workflows.</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><span class="default-highlight">Sankalp Computers & Systems</span></mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="accordion-text">
          <p class="default-exp-text">Senior Software Developer (Feb 2020 – Nov 2021)</p>
          <ul>
            <li>Developed core modules for a multi-level marketing platform (Ventaforce) using ASP.NET MVC and SQL Server.</li>
            <li>Designed compensation plans, e-wallet modules, and dynamic reporting features.</li>
            <li>Built REST APIs for frontend integration and third-party services like SMS gateways and payment APIs.</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><span class="default-highlight">Plexitech Technologies LLP</span></mat-panel-title>
        </mat-expansion-panel-header>
       
        <div class="accordion-text">
           <p class="default-exp-text">Software Developer (Apr 2019 – Jan 2020)</p>
          <ul>
            <li>Implemented RESTful APIs and optimized database queries to improve application performance.</li>
            <li>Collaborated on system architecture and design, working closely with business analysts and QA teams.</li>
          </ul>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><span class="default-highlight">Clover Infotech PVT. LTD.</span></mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="accordion-text">
           <p class="default-exp-text">Software Developer (Feb 2017 – Mar 2019)</p>
          <ul>
            <li>Started career as a full-stack developer working on enterprise web applications using ASP.NET and SQL Server.</li>
            <li>Gained hands-on experience in software development lifecycle (SDLC), debugging, and version control tools.</li>
          </ul>
        </div>
      </mat-expansion-panel>

    </mat-expansion-panel>
<mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Education</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p><strong><span class="default-highlight">Bachelor of Engineering (BE)</span></strong> – Government College of Engineering, Karad</p>
        
        <p><strong><span class="default-highlight">Certifications</span></strong></p>
        <ul>
          <li>Microsoft Certified: Azure Fundamentals – <strong><span class="default-highlight">AZ-900</span></strong> (2023)</li>
          <li>Microsoft Certified: Azure Data Fundamentals – <strong><span class="default-highlight">DP-900</span></strong> (2025)</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
        <p>Native <strong><span class="default-highlight">Marathi</span></strong></p>
        <p>Beginner <strong><span class="default-highlight">German</span></strong></p>
      </div>
    </mat-expansion-panel>

    

    
    <mat-expansion-panel class="customClass accordion-title">
  <mat-expansion-panel-header>
    <mat-panel-title>Hobbies & Interests</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="accordion-text">
    <ul>
      <li>Exploring the latest in <span class="default-highlight">cloud computing</span> and <span class="default-highlight">software architecture trends</span>.</li>
      <li>Participating in <span class="default-highlight">open-source projects</span> and contributing to the developer community on <span class="default-highlight">GitHub</span>.</li>
      <li>Following <span class="default-highlight">tech conferences</span> like Microsoft Ignite and .NET Conf to stay updated with industry innovations.</li>
      <li>Reading books on <span class="default-highlight">clean code</span>, <span class="default-highlight">system design</span>, and <span class="default-highlight">personal productivity</span>.</li>
      <li>Solving <span class="default-highlight">coding challenges</span> on platforms like <span class="default-highlight">LeetCode</span> and <span class="default-highlight">HackerRank</span>.</li>
      <li>Enjoying <span class="default-highlight">photography</span>, <span class="default-highlight">traveling</span>, and exploring <span class="default-highlight">nature trails</span> for inspiration and creativity.</li>
      <li>Listening to <span class="default-highlight">tech podcasts</span> and <span class="default-highlight">audiobooks</span> on software engineering and leadership.</li>
    </ul>
  </div>
</mat-expansion-panel>

  </mat-accordion>
</div>
</div>
</div>
</div>