<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">{{ card.name }}</h2>
      <button mat-icon-button (click)="dialogRef.close()" class="close-button">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
    
    <div class="modal-body">
      

      <div class="content-section"> 
        <h3 class="modal-description">Description</h3>
        <p class="p-modal">{{ card.description }}</p>
        <p *ngIf="card.projectLink && card.projectLink.length" class="p-modal">
          <strong><span class="default-highlight">GitHub</span></strong>: 
          <a [href]="card.projectLink" target="_blank" rel="noopener noreferrer" class="github a-green">
            {{ card.projectLink }}
          </a>
        </p>

        <hr class="divider" />
        
        <div class="tags-container">
          @for (tag of card.tags; track $index) {
            <span class="tag" [style.background-color]="tag.color">{{ tag }}</span>
          }
        </div>
      </div>
    </div>
  </div>
</div>