<div class="home-container">
  <div class="home-content">
    <h1 class="home-title">
      Building Next-Gen Solutions with AI, Machine Learning, Deep Learning and Generative Technologies
    </h1>

    <h2 class="home-author">
      <span class="author-name">Suraj Khodade </span>
      <span id="dynamic-text">{{ dynamicText }}</span>
    </h2>

    <blockquote>
      I'm a seasoned technology professional with 7+ years of industry experience — blending 4 years of hands-on AI/ML
      engineering with a solid foundation in full-stack software development.
    </blockquote>

    <blockquote>
      Over the past 4 years, I've specialized in architecting and deploying production-grade solutions across Machine
      Learning, Deep Learning, Natural Language Processing, and Generative AI. I’ve worked on building predictive
      models, deploying LLMs, and developing end-to-end ML pipelines on cloud platforms like Azure and GCP.
    </blockquote>

    <blockquote>
      Prior to my transition into AI, I spent 3 years as a Fullstack Software Engineer developing enterprise
      applications using .NET Core, Angular, and Azure. This hybrid background enables me to bridge software engineering
      best practices with data science innovation — accelerating intelligent product delivery.
    </blockquote>


    <blockquote>
      I bring a strategic mindset to every project — from data ingestion and modeling to MLOps integration, GenAI
      prototyping, and scalable deployment. My cross-functional collaboration and product-focused approach have
      consistently delivered measurable value across industries.
    </blockquote>

    <p class="home-paragraph highlight">
      Let’s build AI-driven solutions that are reliable, scalable, and transformative.
    </p>

    <div class="home-buttons">
      <button><a routerLink="/portfolio" class="a-green">Explore My AI Portfolio</a></button>
      <button><a href="assets/Suraj_CV_DS.pdf" target="_blank" class="a-green">Download CV</a></button>
      <!-- <button><a href="assets/Suraj_CL_EU.pdf" target="_blank" class="a-green">Download Cover Letter</a></button> -->
    </div>
  </div>
</div>