<div class="home-container">
  <div class="home-content">
    <h1 class="home-title">
      Engineering end-to-end software solutions with .NET, Microservices, Angular & Azure.
    </h1>
    <h2 class="home-author">
      <span class="author-name">Suraj Khodade, </span>
      <span id="dynamic-text">{{ dynamicText }}</span>
    </h2>
    <blockquote>
      I’m a Senior Software Engineer with 6+ years of experience in full-stack enterprise development. I specialize in crafting robust microservices, automating CI/CD pipelines, and delivering cloud-native applications using Microsoft Azure and modern software architecture.
    </blockquote>
    <div class="home-buttons">
      <button>
        <a routerLink="/portfolio" class="a-green">Explore My Work</a>
      </button>
      <button>
        <a href="assets/Suraj_CV_EU.pdf" target="_blank" class="a-green">Download CV</a>
      </button>
      <button>
        <a href="assets/Suraj_CL_EU.pdf" target="_blank" class="a-green">Download Cover Letter</a>
      </button>
    </div>
  </div>
</div>
